.screen {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.floating {
}

.pressure-panel-flash {
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
}

.pressure-panel-supply-flash {
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
}
