.fill-button {
    background-image: url('project://database/Assets/Clean%20Vector%20Icons/T_5_drop_.png?fileID=2800000&guid=6f649aea2852e3b46a8c4386355a2c53&type=3#T_5_drop_');
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.menu-button {
    background-image: url('project://database/Assets/Clean%20Vector%20Icons/T_23_gear_.png?fileID=2800000&guid=9a58f5069a59d1644b55a5aadc5dd58b&type=3#T_23_gear_');
    background-color: rgba(0, 0, 0, 0);
}

.button {
    flex-grow: 0;
    align-items: auto;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.button:hover {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(98, 178, 245);
}

.button:active {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(98, 178, 245);
}

.button-wrapper {
    align-items: auto;
    justify-content: space-between;
    flex-grow: 0;
    align-self: center;
    flex-direction: column-reverse;
    width: auto;
    height: 100%;
}

.scene-container {
    align-items: auto;
    align-self: auto;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.gauge-reading-wrapper {
    align-items: auto;
    align-self: flex-end;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 0;
    width: 80%;
    height: 35%;
}
