player-connection-mode=Listen
player-connection-guid=624173221
player-connection-debug=0
player-connection-project-name=BackflowBuddy_v1.0.0
player-connection-ip=192.168.50.167
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
strict-shader-variant-matching=1
-diag-profile-open-cl-jobs=True
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=1ab661041f1347379384a89b59a1d105
